/* Root Settings */
* {
	position: relative;
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	text-decoration-color: currentColor;
  border-radius: 0%;
  scroll-behavior: smooth;
  color-scheme: light dark;

  font-family: "Radio Canada", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  font-variation-settings:
    "wdth" 100;
}
:root {
  --black-half: rgb(20, 20, 20);
  --black-page: rgb(40, 40, 40);
  --semi-grey: rgb(100, 100, 100);
  --white-page: rgb(240, 240, 240);
  /* Color Pallete */
  --marian-blue: #223E7Cff;
  --vista-blue: #8697DCff;
  --slate-blue: #5A56ADff;
  --marian-blue-2: #3F4B94ff;
  --marian-blue-3: #3C3B80ff;
}
body {
  background-color: var(--black-half);
  color: light-dark(unset, var(--white-page));
}

h1, h2, h3, h4, h5 {
  font-family: "Kaushan Script", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
}

/* HEADER */
header {
  text-align: center;
  height: 90px;
  margin-bottom: 10px;
  padding: 30px 0px 0px 0px;
  background-image: url(./images/1680x1050.png);
  background-position: center;
  background-size: cover;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

/* SCORE FIELD */
main {
  display: grid;
  place-items: center;
}

.score-information-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0% 5% 0% 5%;
  background-color: light-dark(rgba(255, 255, 255, 0.8), rgba(20, 20, 20, 0.8));
  border-width: 1px;
  border-style: solid;
  border-color: light-dark(black, grey);
}

.score-information-card > section {
  width: 100%;
}

.flex > div > p {
  text-align: center;
}

.flex {
  display: flex;
  align-items: center;
  width: 100%;
}
.flex-centered {
  display: flex;
  justify-content: center;
}

/* Field Input */
.score-information-card > section > p {
  font-family: "Kaushan Script", serif;
  font-size: 1.8rem;
  margin: 1.5rem 0px 1rem 0px;
}

select option {
  background-color: light-dark(white, black);
}

input, select {
  height: 40px;
  background-color: transparent;
}

.nilai-benar, .jumlah-soal {
  width: 70px;
  text-align: center;
  line-height: 50px;
}

.slash-sign {
  margin: 1.15rem 0.5rem 0px 0.5rem;
}

.field-nilai-akumulasi {
  margin-top: 1rem;
}

#nilai-ujian-sementara{
  margin: 1.15rem 0px 0px 1rem;
}

#info-tunjangan-nilai {
  margin-left: 1rem;
}

#nilai-akumulasi,
#jenis-tutorial,
#tingkat-kesulitan {
  text-align: center;
  width: 170px;
  background-color: transparent;
}

.line-separator {
  display: none;
}
.line-separator .line {
  height: 300px;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: light-dark(black, grey);
}

/* Field Hasil */
#nilai-akhir,
#keterangan {
  font-family: "Kaushan Script", serif;
  font-size: 5rem;
  text-align: center;
  margin: 0px 1rem 0px 1rem;
}

.hasil-hitungan p {
  text-align: center;
}

/* Content */
.grid-content {
  display: grid;
  grid-template-columns: 1fr;
}

.content {
  padding: 20px;
}

/* Table of Content */
.table-of-content,
.sidebar-right-content {
  display: flex;
  justify-content: center;
}

.table-of-content p,
.sidebar-right-content p {
  line-height: 1.5rem;
}

.table-of-content > div,
.sidebar-right-content > div {
  padding: 20px;
  width: 100%;
}

.table-of-content .title-list {
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: light-dark(var(--marian-blue), var(--vista-blue));
  padding: 10px;
  margin: 10px 0px 10px 10px;
  color: light-dark(var(--marian-blue), var(--vista-blue));
  transition: 0.7s;
  background-color: transparent;
}
.table-of-content .title-list:hover {
  border-left-width: 20px;
  border-left-color: light-dark(var(--black-half), var(--white-page));
  color: light-dark(var(--black-half), var(--white-page));
  transition: 0.2s;
}
.table-of-content .title-list:active {
  background-color: light-dark(var(--black-half), var(--white-page));
  color: light-dark(white, black);
  transition: 10ms;
}
.table-of-content .indent {
  margin-left: 30px;
}

/* Table */
.table {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.table table {
  border-collapse: collapse;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.table table thead {
  border: 1px solid;
  border-color: light-dark(black, var(--white-page));
}
.table table th,
.table table td {
  padding: 8px;
  border: 1px dashed;
  border-color: light-dark(black, var(--white-page));
}

.content img {
  margin: auto;
  display: block;
  margin: 1rem auto;
}

.content h2 {
  margin: 2rem 0px 1rem 0px;
}
.content h3 {
  font-size: 1.5rem;
  margin: 0.5rem 0rem 0.5rem 0rem;
}

.content p {
  line-height: 1.5rem;
  font-style: italic;
  margin-bottom: 0.7rem;
}
.content .note {
  color: grey;
}

.content ol,
.content ul {
  margin-left: 2rem;
}
.content ol li,
.content ul li {
  padding-left: 0.7rem;
  line-height: 1.5rem;
  font-style: italic;
  margin-bottom: 1rem;
}
.content ol li:last-child,
.content ul li:last-child {
  margin-bottom: 0px;
}

.content .video-gif,
.content video {
  width: 100%;
}

/* ChangeLog */
.window-content {
  padding: 10px;
}
.window-content .window-box {
  padding: 10px;
  border: 1px solid;
  border-color: light-dark(black, grey);
}
.window-box > div {
  border-bottom: 1px solid;
  border-color: light-dark(black, grey);
  margin-bottom: 15px;
}
.window-box > div > p {
  color: grey;
}
.window-box li > b {
  font-weight: 800;
}


/* FAQ Sidebar */
.sidebar-right-content .faq-list {
  margin: 20px 0px;
}
.sidebar-right-content .faq-list:first-of-type {
  margin-top: 7px;
}
.sidebar-right-content .faq-list:last-of-type {
  margin-bottom: 7px;
}

.sidebar-right-content .title-list {
  border: 1px solid light-dark(var(--marian-blue-3), var(--vista-blue));
  color: light-dark(var(--marian-blue-3), var(--vista-blue));
  padding: 12px;
}

.sidebar-right-content .answer {
  border: 1px solid light-dark(var(--marian-blue-3), var(--vista-blue));
  border-top: none;
  padding: 12px;
  color: light-dark(var(--semi-grey), grey);
}


/* Footer */
.footer-image {
  background-image: url(./images/city-footer.png);
  background-size: contain;
  background-position-y: bottom;
  background-repeat: repeat-x;
  margin-bottom: -5px;
  height: 20vh;
  width: 100%;
  opacity: 0.96;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: light-dark(var(--black-half), rgb(10, 10, 10));
  color: white;
}

footer .button-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 0px 10px 0px;
}

footer button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 10px;
  margin: 5px 10px;
  transition: 200ms;
  cursor: pointer;
  width: calc(100% - 20px);
}
footer button:hover,
footer button:active {
  background-color: white;
  color: black;
  transition: 0s;
}


/* RESPONSIVE IN TABLET */
@media screen and (min-width: 600px) {
  footer .button-group {
    flex-direction: row;
  }
  footer button {
    width: unset;
  }
}

@media screen and (min-width: 800px) {
  header {
    height: 50vh;
    margin-bottom: -30vh;
    padding-top: 5vh;
  }
  
  .score-information-card {
    flex-direction: row;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(20px);
    width: min(880px, 80%);
  }
  
  .score-information-card section {
    padding: 2%;
  }

  .score-information-card > section > p:first-child {
    margin-top: 0px;
  }

  .line-separator {
    display: flex;
    align-items: center;
  }

  .grid-content {
    grid-template-columns: 300px 1fr;
  }

  .table-of-content {
    padding: 40px 20px;
  }
  .table-of-content > div {
    position: sticky;
    top: 20px;
    height: fit-content;
    max-height: calc(100vh - 80px);
    max-width: 350px;
    overflow-y: scroll;
  }

  .sidebar-right-content {
    grid-column: 2;
  }

  .sidebar-right-content > div {
    position: sticky;
    top: 20px;
    height: fit-content;
    max-height: calc(100vh - 80px);
    overflow-y: scroll;
  }

  @media screen and (min-height: 500px) {
    header h1 {
      font-size: 3rem;
    }
  }

  @media screen and (min-height: 1000px) {
    header {
      height: 500px;
      margin-bottom: -350px;
    }
  }
}

/* RESPONSIVE IN DESKTOP */
@media screen and (min-width: 1000px) {
  .grid-content {
    grid-template-columns: 1fr min(700px, 50%) 1fr;
  }

  .sidebar-right-content {
    grid-column: unset;
    padding: 40px 20px;
  }

  .sidebar-right-content > div {
    max-width: 350px;
  }
}


/* DARKMODE SCHEME */
@media (prefers-color-scheme: dark) {
  .content .svg {
    filter: invert(1);
  }

  .content video {
    filter: brightness(0.8);
  }

  .footer-image {
    opacity: 1;
  }
}